#addContent {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.place {
  width: 100%;
  margin-bottom: 5px;
}

#articles {
  width: 400px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
}

.anotherNew {
  width: 300px;
  border: 1px solid rgb(126, 126, 126);
  margin-bottom: 20px;
}

img {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}
input,
button {
  margin: 5px 0;
  padding: 10px;
}
#message {
  margin-top: 10px;
  font-size: 16px;
}
